@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap");
:root {
    --primary-font: "Lora", serif;
}

* {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #50E3C2;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.86, 67%, 53%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
}

h1 {
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
    justify-content: flex-start;
    align-self: center;
    margin-inline-start: -8rem;
}

.calculator {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.2);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 1rem;
    min-width: 15rem;
    border-radius: 0.5rem;
    
    .display-value { grid-area: 1 / 1 / 2 / 5; }
    .btn.clear { grid-area: 2 / 1 / 3 / 2; }
    .btn.op.mul { grid-area: 2 / 2 / 3 / 3; }
    .btn.op.div { grid-area: 2 / 3 / 3 / 4; }
    .btn.op.sub { grid-area: 2 / 4 / 3 / 5; }
    .btn.op.add { grid-area: 3 / 4 / 5 / 5; }
    .btn.op.eq { grid-area: 5 / 4 / 7 / 5; }
    .btn.num.num7 { grid-area: 3 / 1 / 4 / 2; }
    .btn.num.num8 { grid-area: 3 / 2 / 4 / 3; }
    .btn.num.num9 { grid-area: 3 / 3 / 4 / 4; }
    .btn.num.num4 { grid-area: 4 / 1 / 5 / 2; }
    .btn.num.num5 { grid-area: 4 / 2 / 5 / 3; }
    .btn.num.num6 { grid-area: 4 / 3 / 5 / 4; }
    .btn.num.num1 { grid-area: 5 / 1 / 6 / 2; }
    .btn.num.num2 { grid-area: 5 / 2 / 6 / 3; }
    .btn.num.num3 { grid-area: 5 / 3 / 6 / 4; }
    .btn.num.num0 { grid-area: 6 / 1 / 7 / 2; }
    .btn.num.dot { grid-area: 6 / 2 / 7 / 3; }
    .btn.undo{ grid-area: 6 / 3 / 7 / 4; }
}

.display-value{
    border-radius: 0.25rem;
    height: 2rem;
    padding: 0.5rem;
    text-align: end;
    margin-block-end: 0.5rem;
}

.btn, .display-value{
    background: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.2);

}

.btn{
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn:hover{
    transform: scale(105%);
}

.btn:active{
    transform: scale(95%);
}